<!DOCTYPE html>
<html>
<head></head>
<body style="width:700px;margin:0 auto;text-align:center">
    <div><h1 align="center">Welcome to the Super Resolution Service</h1></div>
    <div style="width:700px;margin:0 auto;text-align:center">
        This is an example of Super Resolution.
    </div>
    <div>
        <form align="center" method="POST" action="/forward" enctype="multipart/form-data">

            <input type="file", name="image", accept="image/*">
            <input type="submit">
        </form>
    </div>

</body>
</html>
